:root{
  --bg0:#070814;
  --bg1:#0b0d24;
  --card: rgba(255,255,255,.06);
  --stroke: rgba(255,255,255,.10);

  --text:#e9ecff;
  --muted: rgba(233,236,255,.65);

  --neonA:#29d6ff;
  --neonB:#a855ff;
  --neonC:#35ffb1;

  --shadow: 0 14px 40px rgba(0,0,0,.45);
  --radius: 20px;
  --radiusLg: 28px;

  --tap: 120ms;
}